body {
    overflow-x: hidden !important;
    background-color: #E9ECFB;
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    background-color: #b6bee6;;
    min-height: 100vh;
}

.contact-form-container {
    background-color: #FFFFFF;
    padding: 40px; 
    border-radius: 8px;
    max-width: 600px; 
    width: 100%; 
}

.contact-form-container h1 {
    font-size: 32px;
    color: #2F3E8C;
    text-align: center; 
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
}

.social-icons a {
    color: #69B2D2;
    font-size: 24px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.social-icons :hover {
    color: #767694;
    transforma: scale(1.2); 
}

.contact-form h3 {
    font-family: Arial, sans-serif;
    color: #4A2E18;
    text-align: center; 
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.form-group input,
.form-group textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #000000;
}

.form-group input {
    height: 40px;
}

.form-group textarea {
    height: 120px;
}

.submit-button {
    background-color: #69B2D2;
    color: #FFFFFF;
}

.submit-button:hover {
    background-color: #55ec69;
}

.error {
    color: red;
}

.success {
    color: green;
}