body {
    background-color: #E9ECFB;
}
.main-header {
    font-size: 47.22px;
    font-family: 'Times New Roman', Times, serif;
    color: #0E4DA2;
    font-weight: bold; 
    position: absolute;
    left: 12.22px; 
    top: 90.00px; 
    width: 755.56px; 
    height: 245.33px; 
    text-align: center; 
}

.sub-header {
    font-size: 26.67px;
    font-family: 'Times New Roman', Times, serif;
    color: #B48ED8;
    height: 270px;
    position: absolute;
    left: 12.22px; 
    top: 225.00px; 
    width: 755.56px;  
    text-align: center; 
}

.button {
    display: flex;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
    background-color: #B48ED8 !important; /* Change button background color */
    color: white !important; /* Ensure text color is white */
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    border-radius: 12px;
}
.button:hover {
    transform: scale(1.1); 
    background-color: #767694 !important;
  }
.about-us {
    position: absolute;
    left: 175.89px; 
    top: 450.89px; 
    width: 133.33px; 
    height: 62.22px; 
}

.contact-us {
    position: absolute;
    left: 360.67px; 
    top: 450.89px; 
    width: 133.33px; 
    height: 62.22px;
}

.slick-slider {
    position: absolute !important;
    left: 855.06px !important;
    top: 100.56px !important;
}