
body {
  margin: 0; 
  padding: 0;
  background-color: #FCF6E8; 
  font-family: Arial, sans-serif; 
}


.navbar {
  width: 1280px;
  height: 109px;
  background-color: #FCF6E8;
  display: flex;
  align-items: center;
  position: relative; 
  margin: 0 auto; 
  border-bottom: 3px solid #1a1817; 
}

.button {
  width: 95px;
  height: 50px;
  background-color: #F4A261;
  font-size: 14px;
  text-transform: uppercase;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  position: absolute;
}

.home { left: 13px; top: 31.11px; }
.about_us { left: 640px; top: 31.11px; }
.join_us { left: 747.56px; top: 31.11px; }
.events { left: 855.11px; top: 31.11px; }
.contact { left: 962.67px; top: 31.11px; }
.projects { left: 1069.33px; top: 31.11px; }
.donate { left: 1177.78px; top: 31.11px; }


h1 {
  text-align: center; 
  margin-top: 20px; 
}
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}